<h1>Cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>


<!-- # SIMPLE FORM SIMPLE FORM prenant en (@cocktail)  en cours de création-->

<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.submit "create cocktail", class: "btn btn-primary" %>
<% end %>

<!--


